.container
  .main
    .main_content
      .title Page Title Goes Here
      .info
        %div
          Location:
          = @section.location




    .secondary_content
      %ul
        %li Secondary Information Goes Here
        %li Secondary Information Goes Here
        %li Secondary Information Goes Here
        %li Secondary Information Goes Here
        %li Secondary Information Goes Here
        %li Secondary Information Goes Here


  =render 'layouts/primary_aside'
