/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS files within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/***Shared Across Site***/
body {
    font-family: 'Pathway Gothic One', sans-serif;
    color: rgb(75, 75, 75)
}

.admin {
  /*color: blue;*/
  background-color: skyblue;
}

/*alert messages*/
.alert {
  width: 1128px;
  margin: 0px auto 5px auto;
  font-size: 20px;
  border-radius: 5px;
  padding: 5px;
  position: relative;
  right: 2px;
  overflow: hidden;
}
.alert-success {
  color: green;
  border: 1px solid green;
}

.alert-error {
  color: red;
  border: 1px solid red;
}

.close {
  float: left;
  margin-right: 10px;
  margin-top: -2px;
}


/*Used for layout template. If the divs names are changed in the html file,
create a new css file and add in only selectors that are changed. */

.container {
  padding-right: 5px;
}

.main {
  overflow: hidden;
  float: left;
  width: 805px;
  padding: 0 0px 0px 0;
}

.main .main_content {
  border: 1px solid gray;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, .5);
  margin-right: 5px;
  position: relative;
  z-index: 1;
}

.main .main_content .title  {
  font-size: 50px;
  margin-bottom: 20px;
  margin: 15px;
}

.main .main_content .info {
  margin: 20px 20px 20px 20px;
  font-family: helvetica;
  line-height: 20px;
}


/*secondary content*/
.main .secondary_content {
  border: 1px solid gray;
  border-radius: 5px;
  overflow: hidden;
  padding: 10px;
  margin: 20px 5px 10px 0; /*to make shadow with main_content match*/
  box-shadow: 1px 2px 5px rgba(0, 0, 0, .5);
  background-color: rgba(200, 200, 200, .15);
}

.main .secondary_content .review_group {
  border: 1px solid gray;
  overflow: hidden;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, .5);
  background-color: rgba(200, 200, 200, .25);
}

.main .secondary_content .review_group .reviewer {
  float: left;
  margin-right: 15px;
}
.main .secondary_content .review_group .reviewer .image {
  border-radius: 10px;
  overflow: hidden;
  height: 40px;
  width: 40px;
  box-shadow: 0 0 10px black;
  border: 1px solid gray;
  margin: auto;
}

.main .secondary_content .review_group .reviewer .image:hover {
  box-shadow: 0 0 10px darkgreen;
}

.main .secondary_content .review_group .reviewer .image img{
  height: 40px;
  float: left;
}

.main .secondary_content .review_group .reviewer .name {
  margin-top: 5px;
  text-align: center;
}

.main .secondary_content .review_group .review {
  font-size: 18px;
  line-height: 20px;
  width: 600px;
  float: left;
}

.main .secondary_content .review_group .rating img{
  width: 80px;
  float: right;
  margin-right: 20px;
}


/*aside box*/
aside {
  width: 320px;
  float: right;
  margin-right: 0px;
}

aside .section {
  font-size: 30px;
  border: 1px solid gray;
  border-radius: 5px;
  text-align: center;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, .5);
  margin-top: 20px;
}

aside .section p {
  color: rgb(75, 75, 75)
}

aside .section:hover {
  color: white;
  background-color: rgba(114, 138, 66, .65);
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 1);
}

aside .first_section {
  background-color: rgba(114, 138, 66, .05);
  margin-top: 0px;
}

aside .second_section {
  background-color: rgba(114, 138, 66, .15);
}

aside .third_section {
  background-color: rgba(114, 138, 66, .25);
}

aside .fourth_section {
  background-color: rgba(114, 138, 66, .35);
  margin-bottom: 10px;
}


/*reset.css styles*/

/**
 * html5doctor.com Reset Stylesheet v1.6.1 (http://html5doctor.com/html-5-reset-stylesheet/)
 * Richard Clark (http://richclarkdesign.com)
 * http://cssreset.com
 */

/*p, ol, ul, li, This fucks up CKEditor. Commenting out for now */
html, body, div, span, object, iframe,
h1,h2, h3, h4, h5, h6,
blockquote, pre, abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i, dl, dt, dd,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
body {
    line-height:1;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}
nav ul {
    list-style:none;
}
blockquote, q {
    quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}
a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
/* change colours to suit your needs
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}
/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}
del {
    text-decoration: line-through;
}
abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}
input, select {
    vertical-align:middle;
}
