/* Place all the styles related to the Courses controller here.
They will automatically be included in application.css. */

/*************** Course Index Page ***************/
.hero_bar {
  height: 300px;
  overflow: hidden;
  position: relative;
  z-index: 2;
}

.hero_bar img{
  position: absolute;
  top: -20px;
  z-index: 1;
  width: 100%
}

.search {
  background-color: rgba(200, 200, 200, .65);
  box-shadow: 2px 2px 2px 2px rgba(100, 100, 100, .5);
  border-radius: 5px;
  overflow: hidden;
  max-width: 1120px;
  margin: 50px auto;
  padding: 10px;
  z-index: 2;
  position: relative;
}

.search h1 {
  font-size: 60px;
  float: left;
  font-weight: 300;
  padding: 10px;
  color: #343D3A;

}
.search_box {
  width: 400px;
  font-size: 20px;
  float: right;
  padding: 5px;
}

.search_submit_button {
  height: 38px;
  width: 100px;
  float: left;
  background-image: linear-gradient(rgb(175, 202, 125) 20%, rgb(153, 187, 89)), none;
  color: #EDEFEE;
  border-radius: 5px;
  box-shadow: 0 1px 1px grey;
  border: 1px solid #738C42;
  font-size: 15px;
  margin-left: 15px;
  float: right;
}

.search_submit_button:hover {
  background-image: linear-gradient(rgb(200, 227, 150) 20%, rgb(172, 200, 104)), none;
}

.course {
  width: 360px;
  height: 250px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, .5);
  margin: 10px;
  float: left;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

.course:hover {
  box-shadow: 0 0 10px darkgreen;
}

.course .course_info {
  padding: 5px;
  color: #8CA952;
  height: 50px;
  z-index: 1;
}

.course .course_photo {
  height: 200px;
  overflow: hidden;
  border-radius: 5px 5px 0 0;
}

.course .course_photo img {
  width: 100%
}

.course .index_page_overlay {
  display: none;
  background-color: rgba(0, 0, 0, .7);
  font-size: 25px;
  text-align: center;
  color: white;
  height: 200px;
  width: 360px;
  border-radius: 5px 5px 0 0;
  position: absolute;
  bottom: 50px;
}

.course .index_page_overlay .next_class {
  color: rgba(255, 255, 255, .45);
  margin-top: 30px;
}

.course .index_page_overlay .class_date {
  color: rgba(255, 255, 255, 1);
  margin-top: 20px;
  font-size: 35px;
}

.course .course_info .course_name {
  font-size: 20px;
  padding-bottom: 2px;
  color: #728A42;
  clear: left;
}
.course .course_info .price {
  float: right;
}
.course .course_info .locaton {
  float: left;
}

/*************** Course Show Page ***************/



.main .course_content {
  border: 1px solid gray;
  border-radius: 5px;
  /*background-color: rgba(200, 200, 200, .1);*/
  overflow: hidden;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, .5);
  margin-right: 5px;
  position: relative;
  z-index: 1;
}

.main .course_content .title  {
  font-size: 50px;
  margin-bottom: 20px;
  margin: 15px;
}

.main .course_content .main_image_section {
  max-height: 500px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.main .course_content .slide {
  width: 100%
}

.main .course_content .main_image_section img {
  width: 100%;
}

.main .course_content .arrow {
  position: absolute;
  left: 700px;
  top: 250px;
  opacity: .75;
  z-index: 2;
}

.main .course_content .description_group h1 {
  font-size: 20px;
  margin: 15px;
}

.main .course_content .description_group .description {
  margin: 15px;
  font-family: helvetica;
  line-height: 20px;
/*  font-size: 30px;
  color: black;
  font-weight: 100;
*/
}



aside .dates {
  font-size: 20px;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 10px;
  background-color: rgba(114, 138, 66, .05);
  box-shadow: 1px 2px 5px rgba(0, 0, 0, .5);
}

aside .dates p {
  margin: 10px;
  font-size: 30px;
}

aside .dates input {
  margin: 10px;
  color: green;
  background-color: green;
}



/*price box*/
aside .price {
  font-size: 30px;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  background-color: rgba(114, 138, 66, .15);
  margin-top: 20px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, .5);
}

aside .price .buy_now {
  height: 30px;
  width: 150px;
  float: right;
  background-image: linear-gradient(rgb(175, 202, 125) 20%, rgb(153, 187, 89)), none;
  color: #EDEFEE;
  border-radius: 5px;
  box-shadow: 0 1px 1px grey;
  border: 1px solid #738C42;
  font-size: 15px;
}

aside .price .buy_now:hover {
  background-image: linear-gradient(rgb(200, 227, 150) 20%, rgb(172, 200, 104)), none;
}



/*instructor profile box*/
aside .profile {
  box-shadow: 1px 2px 5px rgba(0, 0, 0, .5);
  background-color: rgba(114, 138, 66, .25);
  font-size: 30px;
  border: 1px solid gray;
  border-radius: 5px;
  /*padding: 20px;*/
  margin-top: 20px;
  margin-bottom: 3px;
}

aside .profile .image {
  width: 200px;
  height: 250px;
  overflow: hidden;
  border-radius: 5px;
  border: 1px solid darkgray;
  box-shadow: 0 0 10px black;
  margin: auto;
  margin-top: 20px;
}

aside .profile .image:hover {
  box-shadow: 0 0 10px darkgreen;
  border: 1px solid gray;
}
aside .profile p {
  text-align: center;
}

aside .profile .image img {
  width: 200px;
}

aside .profile .instructor_name {
  margin-top: 10px;
  font-size: 20px;
  text-align: center;
  color: black;
}

aside .other_courses p {
  margin-bottom: -10px;  /*Something funny is happening here*/
}

aside .profile a {
  color: black;
  text-decoration: none;
}

aside .profile a:hover {
  text-shadow: 0 0 4px green;
  color: rgb(255, 255, 255)
}

aside hr {
  margin: 10px;
  color: black;
}

aside .profile .other_courses {
  font-size: 20px;
  text-align: center;
}

aside .other_courses li {
  list-style-type: none;
  margin-bottom: 5px;
  margin-right: 40px;
  font-size: 18px;
}

/*company box*/
aside .company {
  box-shadow: 1px 2px 5px rgba(0, 0, 0, .5);
  background-color: rgba(114, 138, 66, .35);
  font-size: 30px;
  border: 1px solid gray;
  border-radius: 5px;
  /*padding: 20px;*/
  margin-top: 20px;
  margin-bottom: 3px;
}

aside .company .company_name {
  margin-top: 10px;
  font-size: 20px;
  text-align: center;
  color: black;
}

aside .company a {
  color: black;
  text-decoration: none;
}

aside .company .other_courses {
  font-size: 20px;
  text-align: center;
}

aside .company .image {
  overflow: hidden;
  border-radius: 5px;
  border: 1px solid darkgray;
  box-shadow: 0 0 10px black;
  margin: 30px;
  /*margin-top: 20px;*/
}

aside .company .image img {
  max-height: 100%;
  max-width: 100%;
}

aside .company .image:hover {
  box-shadow: 0 0 10px darkgreen;
  border: 1px solid gray;
}

aside .company a:hover {
  text-shadow: 0 0 4px green;
  color: rgb(255, 255, 255)
}

aside .company p {
  text-align: center;
}


