.sign_in_group {
  width: 400px;
  border: 1px solid gray;
  border-radius: 5px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, .5);
  background-color: rgba(114, 138, 66, .10);
  text-align: center;
  margin: 100px auto;
}
.sign_in_group h1 {
  font-size: 30px;
  margin: 15px;
}

.sign_in_group a {
  text-decoration: none;
}

.input_box {
  height: 40px;
  width: 200px;
  margin: 10px;
  padding: 10px;
  font-style: italic;
  font-size: 15px;
}

.submit_button {
  height: 38px;
  width: 100px;
  background-image: linear-gradient(rgb(175, 202, 125) 20%, rgb(153, 187, 89)), none;
  color: #EDEFEE;
  border-radius: 5px;
  box-shadow: 0 1px 1px grey;
  border: 1px solid #738C42;
  font-size: 18px;
  display: block;
  margin: 40px auto;
  padding-top: 2px;
}

.submit_button:hover {
  background-image: linear-gradient(rgb(200, 227, 150) 20%, rgb(172, 200, 104)), none;
}

.remember_me {
  float:left;
  margin-left: 90px;
}

.forgot_password {
  background-color: rgba(114, 138, 66, .2);
  padding: 15px;
  border-top: 1px solid gray;
}

.sign_up {
  background-color: rgba(114, 138, 66, .3);
  padding: 15px;
  border-top: 1px solid gray;
}

.sign_up p {
  display: inline;
  margin-right: 5px;
}
