/* Place all the styles related to the Organization controller here.
 They will automatically be included in application.css.*/


/*organizations/show.html.haml*/
.main .company_content {
  border: 1px solid gray;
  border-radius: 5px;
  /*background-color: rgba(200, 200, 200, .1);*/
  overflow: hidden;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, .5);
  margin-right: 5px;
  position: relative;
  z-index: 1;
}

.main .company_content .title  {
  font-size: 50px;
  margin-bottom: 20px;
  margin: 15px;
}

.main .company_content .main_image_section {
  max-height: 500px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.main .company_content .slide {
  width: 100%;
}

.main .company_content .main_image_section img {
  width: 100%;
}

.main .company_content .arrow {
  position: absolute;
  left: 700px;
  top: 250px;
  opacity: .75;
  z-index: 2;
}

.main .company_content .description_group h1 {
  font-size: 20px;
  margin: 15px;
}

.main .company_content .description_group .description {
  margin: 15px;
  font-family: helvetica;
  line-height: 20px;
/*  font-size: 20px;
  color: black;
  font-weight: 100;
*/}


aside .courses_offered {
  font-size: 20px;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 10px;
  background-color: rgba(114, 138, 66, .05);
  box-shadow: 1px 2px 10px rgba(0, 0, 0, .5);
  overflow: hidden;
  text-align: center;
}

aside .courses_offered p {
  font-size: 30px;
  margin-bottom: 0px;  /*Reset.css is fucking this up too*/
  margin-top: 10px;
  /*text-align: center;*/
}

/*Watch out. There is another class called 'course' on the course.css file.*/
aside .courses_offered .course {
  margin: 15px;
  height: 200px;
  width: 90%;
  border: 1px solid gray;
  border-radius: 5px;
  background-color: rgba(114, 138, 66, .15);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, .5);
  position: relative;

}

aside .courses_offered .course .course_name {
  padding: 5px 5px 5px 10px;
  color: black;
}

aside .courses_offered .course img {
  width: 100%;
}

aside .courses_offered .course:hover {
  box-shadow: 0 0 10px darkgreen;
  border: 1px solid gray;
}

aside .courses_offered .course .course_overlay {
  display: none;
  background-color: rgba(0, 0, 0, .7);
  text-align: center;
  color: white;
  height: 200px;
  width: 100%;
  border-radius: 0px 0px 5px 5px;
  position: absolute;
  bottom: -31px;
}

aside .courses_offered .course .course_overlay .next_class {
  color: rgba(255, 255, 255, .45);
  margin-top: 30px;
}

aside .courses_offered .course .course_overlay .class_date {
  color: rgba(255, 255, 255, 1);
  margin-top: 20px;
  font-size: 35px;
}

aside .instructors {
  box-shadow: 1px 2px 5px rgba(0, 0, 0, .5);
  background-color: rgba(114, 138, 66, .25);
  font-size: 30px;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 3px;
}

aside .instructors p {
  text-align: center;
  margin-top: 0px;
}

aside .instructor .image {
  width: 200px;
  height: 250px;
  overflow: hidden;
  border-radius: 5px;
  border: 1px solid darkgray;
  box-shadow: 0 0 10px black;
  margin: auto;
  margin-top: 20px;
}

aside .instructor .image:hover {
  box-shadow: 0 0 10px darkgreen;
  border: 1px solid gray;
}


aside .instructor .image img {
  width: 200px;
}

aside .instructor .name {
  margin-top: 10px;
  font-size: 20px;
  text-align: center;
  color: black;
}


/*organizations/your_orgs.html.haml*/

.main .main_content .info .create_org {
  margin-top: 10px;
}

.main .main_content .info .create_class {
 margin-top: 10px;
}

.main .main_content .info .create_class th {
  font-size: 20px;
  text-align: left;
  position: relative;
  top: 5px;
  padding: 15px 30px 0 0;
}

.main .main_content .info .create_class th a:hover {
  text-decoration: underline;
}

.main .main_content .info .create_class input {
  background-image: linear-gradient(rgb(175, 202, 125) 20%, rgb(153, 187, 89)), none;
  color: #EDEFEE;
  border-radius: 5px;
  box-shadow: 0 1px 1px grey;
  border: 1px solid #738C42;
  width: 150px;
  height: 30px;
  line-height: 8px;
}
.main .main_content .info .create_class input:hover {
  background-image: linear-gradient(rgb(200, 227, 150) 20%, rgb(172, 200, 104)), none;
}


/********** organizations/_form.html.haml **********/
/*used by organizations/new.html.haml*/

.main .main_content .info .org_form td {
  padding: 0 20px 20px 0;
}

.main .main_content .info .org_form .logo {
  font-size: 20px;
  margin-left: 10px;
  position: relative;
  bottom: 10px;
}

.main .main_content .info .org_form .logo_button {
  position: relative;
  bottom: 14px;
  background-image: linear-gradient(rgb(175, 202, 125) 20%, rgb(153, 187, 89)), none;
  color: #EDEFEE;
  border-radius: 5px;
  box-shadow: 0 1px 1px grey;
  border: 1px solid #738C42;
  width: 243px;
}

.main .main_content .info .org_form .description_label {
  margin: 0 0 5px 10px;
  font-size: 20px;
}

.main .main_content .info .org_form .description_note {
  color: blue;
  font-size: 15px;
  margin-left: 10px;
}

.main .main_content .info .org_form input {
  height: 20px;
  width: 300px;
  margin: 10px;
  padding: 10px;
  font-style: italic;
  font-size: 15px;
}

.main .main_content .info .org_form .form_submit {
  margin-top: 20px;
  height: 45px;
  /*width: 100px;*/
  background-image: linear-gradient(rgb(175, 202, 125) 20%, rgb(153, 187, 89)), none;
  color: #EDEFEE;
  border-radius: 5px;
  box-shadow: 0 1px 1px grey;
  border: 1px solid #738C42;
  font-size: 20px;
  /*display: block;*/
}

.main .main_content .info .org_form .form_submit:hover {
  background-image: linear-gradient(rgb(200, 227, 150) 20%, rgb(172, 200, 104)), none;
}


/********** organizations/edit.html.haml **********/

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}


/*Organization Info Box*/
.main .main_content .info .editable_organization_info  {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, .5);
  background-color: rgba(114, 138, 66, .05);
  margin-bottom: 20px;
}

.main .main_content .info .editable_organization_info th {
  text-align: left;
}

.main .main_content .info .editable_organization_info th.first_cell {
  padding-right: 10px;
  padding-top: 5px;
}

.main .main_content .info .editable_organization_info #edit_icon {
  margin-left: 10px;
  display: none;
  font-size: 15px;
}

.main .main_content .info .editable_organization_info #edit_icon img {
  height: 15px;
  margin-right: 5px;
}

.main .main_content .info .editable_organization_info table {
  margin-bottom: 20px;
}

.main .main_content .info .editable_organization_info td.third_cell {
  display: none;
}

.main .main_content .info .editable_organization_info td.third_cell .update_button {
  width: 70px;
  background-image: linear-gradient(rgb(175, 202, 125) 20%, rgb(153, 187, 89)), none;
  color: #EDEFEE;
  border-radius: 5px;
  box-shadow: 0 1px 1px grey;
  border: 1px solid #738C42;
  font-size: 15px;
  text-align: center;
  padding: 2px 7px 2px 7px;
}

.main .main_content .info .editable_organization_info td.third_cell .update_button:hover {
  background-image: linear-gradient(rgb(200, 227, 150) 20%, rgb(172, 200, 104)), none;
}

.main .main_content .info .editable_organization_info .description_label {
  font-weight: bold;
  margin-bottom: 5px;
}

.main .main_content .info .editable_organization_info .description_content {
  background-color: white;
  max-height: 400px;
  overflow-y: scroll;
  border: 1px solid gray;
  padding: 10px 0px 0 15px;
  border-radius: 5px;
  /*make the div look inset*/
  box-shadow: 0 0 10px inset;
}

.main .main_content .info .editable_organization_info .logo_label {
  font-weight: bold;
  margin-top: 25px;
  margin-bottom: -5px;
}
.main .main_content .info .editable_organization_info .logo {
  clear: both;
}
.main .main_content .info .editable_organization_info .logo img {
  border-radius: 5px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, .5);
  margin-top: 10px;
}

/*.main .main_content .info .editable_organization_info .update_logo {
  position: relative;
  bottom: 14px;
  background-image: linear-gradient(rgb(175, 202, 125) 20%, rgb(153, 187, 89)), none;
  color: #EDEFEE;
  border-radius: 5px;
  box-shadow: 0 1px 1px grey;
  border: 1px solid #738C42;
  width: 243px;
}*/

.main .main_content .info .editable_organization_info .form_submit {
  margin-top: 40px;
  height: 45px;
  width: 200px;
  background-image: linear-gradient(rgb(175, 202, 125) 20%, rgb(153, 187, 89)), none;
  color: #EDEFEE;
  border-radius: 5px;
  box-shadow: 0 1px 1px grey;
  border: 1px solid #738C42;
  font-size: 20px;
}

.main .main_content .info .editable_organization_info .form_submit:hover {
  background-image: linear-gradient(rgb(200, 227, 150) 20%, rgb(172, 200, 104)), none;
}

/*Other Info Box*/
.main .main_content .info .other_info  {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, .5);
  background-color: rgba(114, 138, 66, .15);
  margin-bottom: 20px;
}

