/*Place all the styles related to the Profile controller here.
They will automatically be included in application.css
*/

/****profile.show.html.erb****/

.main .main_content .info p {
  font-size: 20px;
  margin-top: 0px;
}


.main .main_content .info .current_password  {
  margin-top: 20px;
}

.main .main_content .info .current_password i {
  font-size: 15px;
  color: blue;
}


/*Personal Info Box*/
.main .main_content .info .personal_info  {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, .5);
  background-color: rgba(114, 138, 66, .05);
  margin-bottom: 20px;
}

.main .main_content .info .personal_info th.first_cell {
  padding-right: 10px;
}

.main .main_content .info .personal_info #edit_icon {
  margin-left: 10px;
  display: none;
  font-size: 15px;
}

.main .main_content .info .personal_info #edit_icon img {
  height: 15px;
  margin-right: 5px;
}
.main .main_content .info .personal_info td.third_cell {
  display: none;
}

.main .main_content .info .personal_info .profile_photo {
  clear: both;
}
.main .main_content .info .personal_info .profile_photo img {
  border-radius: 5px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, .5);
  margin-top: 10px;
}

.main .main_content .info .personal_info .current_photo  {
  margin-top: 20px;
}

.main .main_content .info .personal_info .form_submit {
  margin-top: 20px;
}

/*Organization Info Box*/
.main .main_content .info .organization_info  {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, .5);
  background-color: rgba(114, 138, 66, .15);
  margin-bottom: 20px;
}

.main .main_content .info .organization_info a:hover {
  text-decoration: underline;
}
.main .main_content .info .organization_info th {
  text-align: left;
  padding-right: 20px;
}


/*Password Change Box*/
.main .main_content .info .password_and_cancelation  {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, .5);
  background-color: rgba(114, 138, 66, .25);
  margin-bottom: 20px;
}
