/*Place all the styles related to the Profile controller here.
They will automatically be included in application.css
*/

/****profile.show.html.erb****/

.main .main_content .info p {
  font-size: 20px;
  margin-top: 0px;
}


.main .main_content .info .current_password  {
  margin-top: 20px;
}

.main .main_content .info .current_password i {
  font-size: 15px;
  color: blue;
}


/*Personal Info Box*/
.main .main_content .info .personal_info  {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, .5);
  background-color: rgba(114, 138, 66, .05);
  margin-bottom: 20px;
  font-size: 20px;
}

.main .main_content .info .personal_info input {
  padding: 10px;
  font-style: italic;
  font-size: 15px;
}

.main .main_content .info .personal_info th {
  text-align: left;
  height: 45px;
  vertical-align: middle;
}

.main .main_content .info .personal_info td {
  vertical-align: middle;
  padding-left: 10px;
}

.main .main_content .info .personal_info th.first_cell {
  padding-right: 10px;
  padding-bottom: 5px;
}

.main .main_content .info .personal_info #edit_icon {
  margin-left: 10px;
  display: none;
  font-size: 15px;
  vertical-align: top;
}

.main .main_content .info .personal_info #edit_icon img {
  height: 15px;
  margin-right: 5px;
}
.main .main_content .info .personal_info td.third_cell {
  display: none;
}

.main .main_content .info .personal_info td.third_cell .update_button {
  width: 70px;
  background-image: linear-gradient(rgb(175, 202, 125) 20%, rgb(153, 187, 89)), none;
  color: #EDEFEE;
  border-radius: 5px;
  box-shadow: 0 1px 1px grey;
  border: 1px solid #738C42;
  font-size: 15px;
  text-align: center;
  padding: 2px 7px 2px 7px;
}

.main .main_content .info .personal_info td.third_cell .update_button:hover {
  background-image: linear-gradient(rgb(200, 227, 150) 20%, rgb(172, 200, 104)), none;
}

.main .main_content .info .personal_info .profile_photo {
  clear: both;
}
.main .main_content .info .personal_info .profile_photo img {
  border-radius: 5px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, .5);
  margin-top: 10px;
}

.main .main_content .info .personal_info .current_photo  {
  margin-top: 20px;
}

.main .main_content .info .personal_info .form_submit {
  margin-top: 20px;
  width: 70px;
  background-image: linear-gradient(rgb(175, 202, 125) 20%, rgb(153, 187, 89)), none;
  color: #EDEFEE;
  border-radius: 5px;
  box-shadow: 0 1px 1px grey;
  border: 1px solid #738C42;
  font-size: 20px;
  padding: 2px 7px 2px 7px;
}
.main .main_content .info .personal_info .form_submit:hover {
  background-image: linear-gradient(rgb(200, 227, 150) 20%, rgb(172, 200, 104)), none;
}

/*Organization Info Box*/
.main .main_content .info .organization_info  {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, .5);
  background-color: rgba(114, 138, 66, .15);
  margin-bottom: 20px;
}

.main .main_content .info .organization_info a:hover {
  text-decoration: underline;
}
.main .main_content .info .organization_info th {
  text-align: left;
  padding-right: 20px;
}


/*Password Change Box*/
.main .main_content .info .password_and_cancelation  {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, .5);
  background-color: rgba(114, 138, 66, .25);
  margin-bottom: 20px;
}
