<h1>Organizations, Guides, Tour Operators</h1>

<br>

<% @orgs.each do |org| %>

<% unless org.name == 'Adventuring.com' %>
  <%= link_to org.name, org %>
  <br>
<% end %>


<% end %>
<br>
<br>
<%= button_to 'Create new Organization', new_organization_path, :method => :get %>
<br>
<br>
Currently Logged in as: <%= current_user.email %>

<br>
<%= link_to 'Log Out', '/users/sign_out', :method => :delete %>
