<h1>Organizations, Guides, Tour Operators</h1>

<br>

<% @organization.each do |org| %>

<% unless org.name == 'Adventuring.com' %>
  <%= link_to org.name, org %>
  <br>
<% end %>


<% end %>
<br>
<br>
<%= button_to 'Create new Organization', new_organization_path, :method => :get %>

