.container
  .main
    .main_content
      .title Your Organizations
      .info
        = render 'form'

    .secondary_content

  %aside
    .section_1
      %p Section 1

    .section_2
      %p Section 2

    .section_3
      %p Section 3

    .section_4
      %p Section 4




