<h1>Seriously dude, this can't be undone.</h1>
<h2>All associated courses, reviews, photos and logos will be removed as well.
<%= button_to "Delete '#{@org.name}' Organizaion Now", organization_path(@org), :method => :delete, :confirm => "It's youre funeral bub."%>
