.container
  .main
    .main_content
      .title Your Organizations
      .info
        - if @organizations.empty?
          .permissions_notice You are not part of any organizations, companies or tour operators. Ceate one now to start selling.
          .create_org= button_to 'Create new Organization', new_organization_path, :method => :get
        - else
          .permissions_notice You have permissions to create and post classes in the following organizations:
          %table.create_class
            - @organizations.each do |org|
              %tr
                %th= link_to org.name, org
                %td= button_to "Create a Class", "/organizations/#{org.id}/courses/new", :method => :get

    .secondary_content

  =render 'layouts/primary_aside'


