This is the base template for account management pages.
Copy this into a a new html.erb file and customize div names.
The matching css is in application.css. Any change div names will need custom css selectors.
Create a new css file and put in only selectors of tags that have been changed.

.container
  .main
    .main_content
      .title
      .info
        Information Goes Here


    .secondary_content
      .review_group
        .reviewer
          .image
            reviewer image

          .name

        .review
          Review Content

        .rating
          Rating

  =render 'layouts/primary_aside'
