This is the base template for account management pages.
Copy this into a a new html.erb file and customize div names.
The matching css is in application.css. Any change div names will need custom css selectors.
Create a new css file and put in only selectors of tags that have been changed.

<div class="container">
  <div class="main">
    <div class="main_content">
      <div class="title">Profile</div>
      <div class="info">
        Information Goes Here
      </div>
    </div>
    <div class="secondary_content">
        <div class="review_group">
          <div class="reviewer">
            <div class="image">
              reviewer image
            </div>
            <div class="name"></div>
          </div>
          <div class='review'>
            Review Content
          </div>
          <div class="rating">
            Rating
          </div>
        </div>
    </div>
  </div>
  <aside>
    <div class="section_1">
      <p>Section 1</p>
    </div>
    <div class="section_2">
      <p>Section 2</p>
    </div>
      <div class="section_3">
        <p>Section 3</p>
      </div>
    <div class="section_4">
      <p>Section 4</p>
    </div>
  </aside>
</div>
