This is the base template for account management pages.
Copy this into a a new html.erb file and customize div names.
The matching css is in application.css. Any change div names will need custom css selectors.
Create a new css file and put in only selectors of tags that have been changed.

.container
  .main
    .main_content
      .title
      .info
        %ul
          %li Primary Information Goes Here
          %li Primary Information Goes Here
          %li Primary Information Goes Here
          %li Primary Information Goes Here
          %li Primary Information Goes Here
          %li Primary Information Goes Here
          %li Primary Information Goes Here
          %li Primary Information Goes Here
          %li Primary Information Goes Here
          %li Primary Information Goes Here
          %li Primary Information Goes Here
          %li Primary Information Goes Here
          %li Primary Information Goes Here


    .secondary_content
      %ul
        %li Secondary Information Goes Here
        %li Secondary Information Goes Here
        %li Secondary Information Goes Here
        %li Secondary Information Goes Here
        %li Secondary Information Goes Here
        %li Secondary Information Goes Here


  =render 'layouts/primary_aside'
