<div class="footer">
  <div class="footer_liner">
    <div class="footer_column">
      <h2>How it Works</h2>
      <ul>
        <li><a href="#">Guidelines</a></li>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">Guarantee</a></li>
      </ul>
    </div>
    <div class="footer_column">
      <h2>Company</h2>
      <ul>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Jobs</a></li>
        <li><a href="#">Team</a></li>
      </ul>
    </div>
    <div class="footer_column">
      <h2>Locations</h2>
      <ul>
        <li><a href="#">Bay Area</a></li>
        <li><a href="#">New York</a></li>
        <li><a href="#">Boulder</a></li>
        <li><a href="#">Los Angeles</a></li>
      </ul>
    </div>
  </div>
</div>
