<div class="footer">
  <div class="footer_liner">
    <div class="footer_column">
      <h2>How it Works</h2>
      <ul>
        <li><a href="#">Guidelines</a></li>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">Guarantee</a></li>
      </ul>
    </div>
    <div class="footer_column">
      <h2>Company</h2>
      <ul>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Jobs</a></li>
        <li><a href="#">Team</a></li>
      </ul>
    </div>
    <div class="footer_column">
      <h2>Locations</h2>
      <ul>
        <li><%= link_to "San Francisco", courses_path(:location => 'San Francisco, CA') %></li>
        <li><%= link_to "San Jose",courses_path(:location => 'San Jose, CA') %></li>
        <li><%= link_to "Los Angeles", courses_path(:location => 'Los Angeles, CA') %></li>
        <li><%= link_to "Boulder", courses_path(:location => 'Boulder, CO') %></li>
      </ul>
    </div>
  </div>
</div>
